@import "tailwindcss";

:root {
    --background: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --text-h1: 38px;
    --text-h2: 32px;
    --text-h3: 28px;
    --text-p: 18px;
    --color-primaryBlue: #000C47;
    --color-secundaryYellow: #CED300;
    --color-thirdGreen: #0A8700;
    --color-bgMain: #F4F4F4;
}

@font-face {
    font-family: "ErasDemiITC";
    src: url('/fonts/eras-itc-demi.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #CED300 rgb(0, 12, 71);
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background: rgb(0, 12, 71);
}

html::-webkit-scrollbar-thumb {
    background-color: #CED300;
    border-radius: 10px;
    border: 2px solid rgb(0, 12, 71);
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #0A8700;
}


body {
    background: var(--background);
    font-family: ErasDemiITC, sans-serif;
}
