@import "tailwindcss";

:root {
    --background: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --text-h1: 38px;
    --text-h3: 28px;
    --color-primaryBlue: #000C47;
    --color-secundaryYellow: #CED300;
    --color-thirdGreen: #0A8700;
    --color-bgMain: #F4F4F4;
}

@font-face {
    font-family: "ErasDemiITC";
    src: url('/fonts/eras-itc-demi.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}


body {
    background: var(--background);
    font-family: ErasDemiITC, sans-serif;
}
